{% extends 'ticketing/base.html' %}
{% block content %}
    <br />
<br />

    <button type="button" class="btn btn-primary" onclick="window.location.href='edit/'" >Edytuj</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Tytul</td>
                <td>Data rejestracji</td>
                <td>Ticket ID</td>
                <td>Priorytet</td>
                <td>Kategoria</td>
            </tr>
        </thead>

        <tbody>
            <tr>

                <td>{{detail.pk}} </td>
                <td><a href="#">{{detail.title}}</a></td>
                <td>{{detail.created_date|date:"d.m.y" }}</td>
                <td>{{detail.code}}</td>
                <td>{{detail.priority}}</td>
                <td>{{detail.category}}</td>

            </tr>

        </tbody>

        
    </table>
    
        {{detail.description}}
        
   

{% endblock %}